/**
 * @name Moon Rabbits Dream About Virtual Mod - Edit by kuro
 * @description Based in Tsukino Mito Album cover 
 * @author zuzumi#8097
 * @authorId 403725623161257984
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube   
 * @website https://github.com/kuro-sama/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/kuro-sama/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 1.2
*/

@import url('https://kuro-sama.github.io/Moon-Rabbits-Dream-About-VirtualMod/release/tsukino-mito.base.css');
@import url('https://kuro-sama.github.io/Moon-Rabbits-Dream-About-VirtualMod/release/window-mode.css');
@import url(https://fonts.cdnfonts.com/css/sf-pro-display);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap);


:root {
    --staticbg: #DD9FBD;
    --background-primary: hsl(210, 5%, 16%);
    --background-secondary: hsl(216, 4%, 22%);
    --background-secondary-alt: hsl(210, 5%, 16%);
    --background-tertiary: hsl(216, 4%, 22%);
    --background-accent: hsl(213, 64%, 78%);
    --gradient: linear-gradient(270deg, #4BB4E0, #DD9FBD 60%);
    --sidedark: hsla(216, 4%, 22%, 0.5);
    --sidelight: hsla(0, 0%, 100%, 0.6);
    --drag-background: linear-gradient(#e8c4d3, #e39ba7);
    --radius-theme: 18px;
    --radius-secondary: 8px;

    /* dock */
    --dock-border-radius: 0;
    --icon:45;

    /* font */
    --custom-font-display: "";
    --custom-font-regular: "";
    --custom-font-primary: "";
    --custom-font-code: "";
    
    --background-accent-hue: 213;
    --floating-background-lightness: 0;
    --background-floating-border-l: calc(37% * (1 + var(--floating-background-lightness)));
    --background-floating-border-color: hsl(var(--background-accent-hue), 4%, var(--background-floating-border-l));
    --background-floating-border: 1px solid var(--background-floating-border-color);
      
    /*stuff*/
    --the-borders: 2px solid #da4a60;
    --scroller-color: hsl(0, 0%, 42%);
    --accent-border: 1px solid rgba(99, 99, 99, 0.507);
    --sidewidth: 220px;
    --members-width: 240px;
    --text-color: #d1d1d1;
    --a-custom-text: "(-.-)Zzz"; /* The text that appear in top, "" if you dont want any [write in "(text)"] */
}

/*----------------------------------------------------
                anything else down here
------------------------------------------------------*/

/* Gradient Background 
div#app-mount.appMount-2yBXZl {
    background-image: var(--gradient);
    background-size: 200% 100%;
}
.app-focused.full-motion div#app-mount.appMount-2yBXZl {
    animation: Gradient 4s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}*/

div#app-mount.appMount-2yBXZl {
    background: var(--staticbg) ;
    
}

/* Dock */
    .theme-dark .scroller-3X7KbA {
    contain: unset;
    border-radius: calc(1.1rem * (1 + var(--dock-border-radius)));
    background-color:var(--sidedark);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
    border-top: var(--accent-border);
    border-right: var(--accent-border);
    border-left:  var(--accent-border);
    border-bottom: var(--accent-border);
}
