/**
 * @name Moon Rabbits Dream About Virtual Mod - Edit by kuro
 * @description Based in Tsukino Mito Album cover 
 * @author zuzumi#8097
 * @authorId 403725623161257984
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube   
 * @website https://github.com/kuro-sama/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/kuro-sama/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 1.2
*/

@import url('https://kuro-sama.github.io/Moon-Rabbits-Dream-About-VirtualMod/release/tsukino-mito.base.css');
@import url('https://kuro-sama.github.io/Moon-Rabbits-Dream-About-VirtualMod/release/window-mode.css');
@import url(https://fonts.cdnfonts.com/css/sf-pro-display);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap);




:root {

    /* hue */
    --accent-hue: 213;
    --accent-saturation: 100%;
    --accent-brightness: 50%;
    --background-accent-hue: 210;
    --box-shadow-selection: 0 0 0 3px var(--brand-experiment-300);

    /* window colors */
    --staticbg: rgb(190, 190, 190);
    --background-primary:   hsla(var(--background-accent-hue),0%,15%);
    --background-secondary: hsla(var(--background-accent-hue),0%,17%);
    --background-secondary-alt: hsla(var(--background-accent-hue),0%,17%);
    --background-tertiary: hsla(var(--background-accent-hue),0%,17%);
    --background-accent: hsl(213, 64%, 78%);
    --gradient: linear-gradient(270deg, #4BB4E0, #DD9FBD 60%);
    --opacity-d: hsla(var(--background-accent-hue), 0%, 17%, var(--opacity));
    --drag-background: linear-gradient(#e8c4d3, #e39ba7);
    --radius-theme: 18px;
    --radius-secondary: 8px;
    --opacity: 0.8;

    --background-floating-blur: 20px;
    --enable-blur: 1;
    --background-floating-blur-calc: calc(var(--background-floating-blur) * var(--enable-blur));

    --background-floating-border-color: hsl(var(--background-accent-hue), 4%, var(--background-floating-border-l));
    --background-floating-border: 1px solid var(--background-floating-border-color);
    --background-modifier-accent-border: 1px solid var(--background-modifier-accent);

    
    /* dock */
    --sidebar-text-brightness: 0;
    --dock-border-radius: 0;
    --icon:48; 

     /*stuff*/
    --brand-experiment: hsl(var(--accent-hue), calc(var(--saturation-factor, 1)*var(--accent-saturation)), var(--accent-brightness));
    --the-borders: 3px solid #da4a60;
    --scroller-color: hsl(0, 0%, 42%);
    --accent-border: 1px solid rgba(99, 99, 99, 0.507);
    --sidebar-width: 240px;
    --members-width: 240px;
    --text-color: #dfdfdf;
    --a-custom-text: "(-.-)Zzz"; /* The text that appear in top, "" if you dont want any [write in "(text)"] */
}

/*----------------------------------------------------
                anything else down here
------------------------------------------------------*/

/* Gradient Background 
div#app-mount.appMount-2yBXZl {
    background-image: var(--gradient);
    background-size: 200% 100%;
}
.app-focused.full-motion div#app-mount.appMount-2yBXZl {
    animation: Gradient 4s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}*/


/* Floating Dock Test *//* 
#app-mount .withFrame-2dL45i {
    background: var(--drag-background);
    border-top-left-radius: var(--radius-theme);
    border-top-right-radius: var(--radius-theme);
    margin-left: 96px;
    margin-right: 24px;
    margin-top: 24px;
    min-height: 32px;
    border: var(--the-borders);
    flex-direction: row;
}
#app-mount .layers-OrUESM {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom-right-radius: var(--radius-theme);
    border-bottom-left-radius: var(--radius-theme);
    border-left: none;
     border-bottom: none;
     border-right: none;
     box-shadow: none;
  
}
#app-mount .sidebar-1tnWFu {
    border-bottom-left-radius: var(--radius-theme);
    border-bottom: var(--the-borders);
     border-left: var(--the-borders);
}
.wrapper-1_HaEi {
    background: transparent!important;
  
}
.chat-2ZfjoI {
    border-bottom-right-radius: var(--radius-theme);
    border-bottom: var(--the-borders);
    border-right: var(--the-borders);
}*/

div#app-mount.appMount-2yBXZl {
    background: var(--staticbg) ;
    
}

/* Dock */
   .scroller-3X7KbA {
    contain: unset;
    border-radius: calc(1.1rem * (1 + var(--dock-border-radius)));
    background-color: var(--opacity-d);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
    border-top: var(--background-modifier-accent-border);
    border-right: var(--background-modifier-accent-border);
    border-left:  var(--background-modifier-accent-border);
    border-bottom: var(--background-modifier-accent-border);
}

/* More Stuff*/
